@use '../../../styles/variables.scss' as *;

section{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 0 50px;

  .left-content{
    width: 35vw;

    p{
      width: 29vw;
    }
  }

  div{
    font-family: $font-text;

    h1{
      font-size: xxx-large;
      color: $title-color;

      margin-bottom: 20px;
    }

    p{
      margin-bottom: 20px;
      color: #707070;
    }
  }
}
