<section>
  <div class="title-content">
    <h1>Bean Scene</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </p>
    <figure>
      <img src="facebook-icon.svg" alt="">
      <img src="instagram-icon.png" alt="">
      <img src="youtube-icon.svg" alt="">
      <img src="twitter-icon.svg" alt="">
    </figure>
  </div>

  <div class="links-content">
    <div class="links">
      <h2>About</h2>
      <div>
        <ul>
          <li><a href="">Menu</a></li>
          <li><a href="">Features</a></li>
          <li><a href="">News & Blogs</a></li>
          <li><a href="">Help & Supports</a></li>
        </ul>
      </div>
    </div>
    <div class="links">
      <h2>Company</h2>

      <div>
        <ul>
          <li><a href="">How we work</a></li>
          <li><a href="">Terms of service</a></li>
          <li><a href="">Pricing</a></li>
          <li><a href="">FAQ</a></li>
        </ul>
      </div>
    </div>

    <div class="links">
      <h2>Contact Us</h2>

      <div>
        <ul>
          <li><a href="">Akshya Nagar 1st Block 1st Cross, Rammurthy nagar, Bangalore-560016</a></li>
          <li><a href="">+1 202-918-2132</a></li>
          <li><a href="">beanscene&#64;mail.com</a></li>
          <li><a href="">www.beanscene.com</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
