<section>
  <div class="title-content">
    <h1>Why are we different?</h1>
    <p>We don’t just make your coffee, we make your day!</p>
  </div>
  <div class="card-content">
    <app-differences-card imgUrl="coffee-beans.svg" title="Supreme Beans" description="Beans that provides
great taste" class="emphasis"/>
  <app-differences-card imgUrl="badge.svg" title="Supreme Beans" description="Beans that provides
  great taste"/>
  <app-differences-card imgUrl="coffee-cup.svg" title="Supreme Beans" description="Beans that provides
  great taste"/>
  <app-differences-card imgUrl="best-price.svg" title="Supreme Beans" description="Beans that provides
great taste"/>
  </div>
  <div class="join-content">
    <p>Great ideas start with great coffee, Lets help you achieve that</p>
    <h2>Get started today.</h2>
    <button>Join Us</button>
  </div>
</section>
