@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');


$title-color: #603809;
$button-color: #F9C06A;

$bg-color: #603709bb;


$font-main-title: 'Clicker Script', cursive;
$font-text: 'Playfair', serif;
