@use '../../../styles/variables.scss' as *;

section{
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 80vh;

  margin-top: 40px;

  .title-container{
    text-align: center;
    margin-bottom: 20px;

    h1{
      font-size: xxx-large;
      color: $title-color;
    }

    p{
      color: #707070;
    }
  }
}
