<div class="card__container">
  <div class="button-content">
    <button><img src="left-arrow.svg" alt=""></button>
  </div>
  <div class="main-content">
    <div class="comma-content">
      <span>“</span>
    </div>
    <div class="text-content">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset.....</p>
    </div>
    <div class="user-content">
      <h2>Jonny Thomas</h2>
      <span>Project Manager</span>
      <img src="user-feedback.svg" alt="">
    </div>
  </div>
  <div class="button-content">
    <button><img src="right-arrow.svg" alt=""></button>
  </div>
</div>
