@use 'styles/variables.scss' as *;

/* You can add global styles to this file, and also import other style files */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button{
  background-color: $button-color;

  font-family: $font-text;

  font-weight: 900;

  color: $title-color;

  border: none;
  border-radius: 30px;
  padding: 10px 10px;

  cursor: pointer;
}
